@import-normalize;

html {
  font-size: 16px;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
}

ul {
  list-style: none;
}

.ui-container {
  width: 83vw;
  min-width: 309px;
  max-width: 1110px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .ui-container {
    width: 89.5vw;
  }
}

@media (min-width: 1025px) {
  .ui-container {
    width: 77vw;
  }
}
