*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
}

ul {
  list-style: none;
}

.ui-container {
  width: 83vw;
  min-width: 309px;
  max-width: 1110px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .ui-container {
    width: 89.5vw;
  }
}

@media (min-width: 1025px) {
  .ui-container {
    width: 77vw;
  }
}
